/.vs/MangoRestaurent/v16/.suo
/Mango.Services.Identity/obj/Debug/net6.0/Mango.Services.Identity.assets.cache
/Mango.Services.Identity/obj/Debug/net6.0/Mango.Services.Identity.csproj.FileListAbsolute.txt
/Mango.Services.ProductAPI/obj/Debug/net6.0/Mango.Services.ProductAPI.assets.cache
/Mango.Services.ProductAPI/obj/Debug/net6.0/Mango.Services.ProductAPI.csproj.FileListAbsolute.txt
/Mango.Services.ProductAPI/obj/Mango.Services.ProductAPI.csproj.nuget.dgspec.json
/Mango.Services.ProductAPI/obj/Mango.Services.ProductAPI.csproj.nuget.g.props
/Mango.Services.ProductAPI/obj/Mango.Services.ProductAPI.csproj.nuget.g.targets
/Mango.Services.ProductAPI/obj/project.assets.json
/Mango.Services.ProductAPI/obj/project.nuget.cache
/Mango.Web/obj/Debug/net6.0/Mango.Web.assets.cache
/Mango.Web/obj/Debug/net6.0/Mango.Web.csproj.FileListAbsolute.txt
/.vs/MangoRestaurent/FileContentIndex/read.lock
/.vs/MangoRestaurent/v17/.suo
/Mango.Services.Identity/bin/Debug/net6.0/appsettings.Development.json
/Mango.Services.Identity/bin/Debug/net6.0/appsettings.json
/Mango.Services.Identity/bin/Debug/net6.0/AutoMapper.dll
/Mango.Services.Identity/bin/Debug/net6.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/Mango.Services.Identity/bin/Debug/net6.0/Azure.Core.dll
/Mango.Services.Identity/bin/Debug/net6.0/Azure.Identity.dll
/Mango.Services.Identity/bin/Debug/net6.0/Azure.Security.KeyVault.Certificates.dll
/Mango.Services.Identity/bin/Debug/net6.0/Azure.Security.KeyVault.Secrets.dll
/Mango.Services.Identity/bin/Debug/net6.0/Duende.IdentityServer.AspNetIdentity.dll
/Mango.Services.Identity/bin/Debug/net6.0/Duende.IdentityServer.dll
/Mango.Services.Identity/bin/Debug/net6.0/Duende.IdentityServer.Storage.dll
/Mango.Services.Identity/bin/Debug/net6.0/Humanizer.dll
/Mango.Services.Identity/bin/Debug/net6.0/IdentityModel.dll
/Mango.Services.Identity/bin/Debug/net6.0/libman.json
/Mango.Services.Identity/bin/Debug/net6.0/Mango.Services.Identity.deps.json
/Mango.Services.Identity/bin/Debug/net6.0/Mango.Services.Identity.dll
/Mango.Services.Identity/bin/Debug/net6.0/Mango.Services.Identity.exe
/Mango.Services.Identity/bin/Debug/net6.0/Mango.Services.Identity.pdb
/Mango.Services.Identity/bin/Debug/net6.0/Mango.Services.Identity.runtimeconfig.json
/Mango.Services.Identity/bin/Debug/net6.0/Mango.Services.Identity.staticwebassets.runtime.json
/Mango.Services.Identity/bin/Debug/net6.0/Mango.Services.ProductAPI.deps.json
/Mango.Services.Identity/bin/Debug/net6.0/Mango.Services.ProductAPI.dll
/Mango.Services.Identity/bin/Debug/net6.0/Mango.Services.ProductAPI.exe
/Mango.Services.Identity/bin/Debug/net6.0/Mango.Services.ProductAPI.pdb
/Mango.Services.Identity/bin/Debug/net6.0/Mango.Services.ProductAPI.runtimeconfig.json
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.AspNetCore.Cryptography.Internal.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.Extensions.Identity.Core.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.Extensions.Identity.Stores.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.Identity.Client.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.Identity.Web.Certificate.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.Identity.Web.Certificateless.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.Identity.Web.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.Identity.Web.TokenCache.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.Identity.Web.UI.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.Identity.Web.UI.Views.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.IdentityModel.LoggingExtensions.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.IdentityModel.Validators.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.OpenApi.dll
/Mango.Services.Identity/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/Mango.Services.Identity/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/Mango.Services.Identity/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Mango.Services.Identity/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Security.Cryptography.Pkcs.dll
/Mango.Services.Identity/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/Mango.Services.Identity/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/Mango.Services.Identity/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/Mango.Services.Identity/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Mango.Services.Identity/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/Mango.Services.Identity/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/Mango.Services.Identity/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/Mango.Services.Identity/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/Mango.Services.Identity/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/Mango.Services.Identity/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/Mango.Services.Identity/bin/Debug/net6.0/Swashbuckle.AspNetCore.Annotations.dll
/Mango.Services.Identity/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/Mango.Services.Identity/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Mango.Services.Identity/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Mango.Services.Identity/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/Mango.Services.Identity/bin/Debug/net6.0/System.Drawing.Common.dll
/Mango.Services.Identity/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/Mango.Services.Identity/bin/Debug/net6.0/System.Runtime.Caching.dll
/Mango.Services.Identity/bin/Debug/net6.0/System.Security.Cryptography.Pkcs.dll
/Mango.Services.Identity/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/Mango.Services.Identity/bin/Debug/net6.0/System.Security.Cryptography.Xml.dll
/Mango.Services.Identity/bin/Debug/net6.0/System.Security.Permissions.dll
/Mango.Services.Identity/bin/Debug/net6.0/System.Windows.Extensions.dll
/Mango.Services.Identity/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mango.Services.Identity/obj/Debug/net6.0/apphost.exe
/Mango.Services.Identity/obj/Debug/net6.0/Mango.Services.Identity.AssemblyInfo.cs
/Mango.Services.Identity/obj/Debug/net6.0/Mango.Services.Identity.AssemblyInfoInputs.cache
/Mango.Services.Identity/obj/Debug/net6.0/Mango.Services.Identity.csproj.AssemblyReference.cache
/Mango.Services.Identity/obj/Debug/net6.0/Mango.Services.Identity.csproj.CopyComplete
/Mango.Services.Identity/obj/Debug/net6.0/Mango.Services.Identity.csproj.CoreCompileInputs.cache
/Mango.Services.Identity/obj/Debug/net6.0/Mango.Services.Identity.dll
/Mango.Services.Identity/obj/Debug/net6.0/Mango.Services.Identity.GeneratedMSBuildEditorConfig.editorconfig
/Mango.Services.Identity/obj/Debug/net6.0/Mango.Services.Identity.genruntimeconfig.cache
/Mango.Services.Identity/obj/Debug/net6.0/Mango.Services.Identity.GlobalUsings.g.cs
/Mango.Services.Identity/obj/Debug/net6.0/Mango.Services.Identity.MvcApplicationPartsAssemblyInfo.cache
/Mango.Services.Identity/obj/Debug/net6.0/Mango.Services.Identity.MvcApplicationPartsAssemblyInfo.cs
/Mango.Services.Identity/obj/Debug/net6.0/Mango.Services.Identity.pdb
/Mango.Services.Identity/obj/Debug/net6.0/Mango.Services.Identity.RazorAssemblyInfo.cache
/Mango.Services.Identity/obj/Debug/net6.0/Mango.Services.Identity.RazorAssemblyInfo.cs
/Mango.Services.Identity/obj/Debug/net6.0/ref/Mango.Services.Identity.dll
/Mango.Services.Identity/obj/Debug/net6.0/refint/Mango.Services.Identity.dll
/Mango.Services.Identity/obj/Debug/net6.0/scopedcss/bundle/Mango.Services.Identity.styles.css
/Mango.Services.Identity/obj/Debug/net6.0/scopedcss/projectbundle/Mango.Services.Identity.bundle.scp.css
/Mango.Services.Identity/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/Mango.Services.Identity/obj/Debug/net6.0/staticwebassets.build.json
/Mango.Services.Identity/obj/Debug/net6.0/staticwebassets.development.json
/Mango.Services.Identity/obj/Mango.Services.Identity.csproj.nuget.dgspec.json
/Mango.Services.Identity/obj/Mango.Services.Identity.csproj.nuget.g.props
/Mango.Services.Identity/obj/Mango.Services.Identity.csproj.nuget.g.targets
/Mango.Services.Identity/obj/project.assets.json
/Mango.Services.Identity/obj/project.nuget.cache
/Mango.Services.Identity/obj/staticwebassets.pack.sentinel
/Mango.Services.ProductAPI/bin/Debug/net6.0/appsettings.Development.json
/Mango.Services.ProductAPI/bin/Debug/net6.0/appsettings.json
/Mango.Services.ProductAPI/bin/Debug/net6.0/AutoMapper.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Humanizer.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/libman.json
/Mango.Services.ProductAPI/bin/Debug/net6.0/Mango.Services.ProductAPI.deps.json
/Mango.Services.ProductAPI/bin/Debug/net6.0/Mango.Services.ProductAPI.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Mango.Services.ProductAPI.exe
/Mango.Services.ProductAPI/bin/Debug/net6.0/Mango.Services.ProductAPI.pdb
/Mango.Services.ProductAPI/bin/Debug/net6.0/Mango.Services.ProductAPI.runtimeconfig.json
/Mango.Services.ProductAPI/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Microsoft.Identity.Client.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Microsoft.OpenApi.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.Annotations.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/System.Drawing.Common.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/System.Runtime.Caching.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/System.Security.Permissions.dll
/Mango.Services.ProductAPI/bin/Debug/net6.0/System.Windows.Extensions.dll
/Mango.Services.ProductAPI/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mango.Services.ProductAPI/obj/Debug/net6.0/apphost.exe
/Mango.Services.ProductAPI/obj/Debug/net6.0/Mango.Services.ProductAPI.AssemblyInfo.cs
/Mango.Services.ProductAPI/obj/Debug/net6.0/Mango.Services.ProductAPI.AssemblyInfoInputs.cache
/Mango.Services.ProductAPI/obj/Debug/net6.0/Mango.Services.ProductAPI.csproj.AssemblyReference.cache
/Mango.Services.ProductAPI/obj/Debug/net6.0/Mango.Services.ProductAPI.csproj.CopyComplete
/Mango.Services.ProductAPI/obj/Debug/net6.0/Mango.Services.ProductAPI.csproj.CoreCompileInputs.cache
/Mango.Services.ProductAPI/obj/Debug/net6.0/Mango.Services.ProductAPI.dll
/Mango.Services.ProductAPI/obj/Debug/net6.0/Mango.Services.ProductAPI.GeneratedMSBuildEditorConfig.editorconfig
/Mango.Services.ProductAPI/obj/Debug/net6.0/Mango.Services.ProductAPI.genruntimeconfig.cache
/Mango.Services.ProductAPI/obj/Debug/net6.0/Mango.Services.ProductAPI.GlobalUsings.g.cs
/Mango.Services.ProductAPI/obj/Debug/net6.0/Mango.Services.ProductAPI.MvcApplicationPartsAssemblyInfo.cache
/Mango.Services.ProductAPI/obj/Debug/net6.0/Mango.Services.ProductAPI.MvcApplicationPartsAssemblyInfo.cs
/Mango.Services.ProductAPI/obj/Debug/net6.0/Mango.Services.ProductAPI.pdb
/Mango.Services.ProductAPI/obj/Debug/net6.0/ref/Mango.Services.ProductAPI.dll
/Mango.Services.ProductAPI/obj/Debug/net6.0/refint/Mango.Services.ProductAPI.dll
/Mango.Services.ProductAPI/obj/Debug/net6.0/staticwebassets.build.json
/Mango.Services.ProductAPI/obj/staticwebassets.pack.sentinel
/Mango.Web/bin/Debug/net6.0/appsettings.Development.json
/Mango.Web/bin/Debug/net6.0/appsettings.json
/Mango.Web/bin/Debug/net6.0/Mango.Web.deps.json
/Mango.Web/bin/Debug/net6.0/Mango.Web.dll
/Mango.Web/bin/Debug/net6.0/Mango.Web.exe
/Mango.Web/bin/Debug/net6.0/Mango.Web.pdb
/Mango.Web/bin/Debug/net6.0/Mango.Web.runtimeconfig.json
/Mango.Web/bin/Debug/net6.0/Mango.Web.staticwebassets.runtime.json
/Mango.Web/bin/Debug/net6.0/Newtonsoft.Json.dll
/Mango.Web/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mango.Web/obj/Debug/net6.0/apphost.exe
/Mango.Web/obj/Debug/net6.0/Mango.Web.AssemblyInfo.cs
/Mango.Web/obj/Debug/net6.0/Mango.Web.AssemblyInfoInputs.cache
/Mango.Web/obj/Debug/net6.0/Mango.Web.csproj.AssemblyReference.cache
/Mango.Web/obj/Debug/net6.0/Mango.Web.csproj.CopyComplete
/Mango.Web/obj/Debug/net6.0/Mango.Web.csproj.CoreCompileInputs.cache
/Mango.Web/obj/Debug/net6.0/Mango.Web.dll
/Mango.Web/obj/Debug/net6.0/Mango.Web.GeneratedMSBuildEditorConfig.editorconfig
/Mango.Web/obj/Debug/net6.0/Mango.Web.genruntimeconfig.cache
/Mango.Web/obj/Debug/net6.0/Mango.Web.GlobalUsings.g.cs
/Mango.Web/obj/Debug/net6.0/Mango.Web.MvcApplicationPartsAssemblyInfo.cache
/Mango.Web/obj/Debug/net6.0/Mango.Web.pdb
/Mango.Web/obj/Debug/net6.0/Mango.Web.RazorAssemblyInfo.cache
/Mango.Web/obj/Debug/net6.0/Mango.Web.RazorAssemblyInfo.cs
/Mango.Web/obj/Debug/net6.0/ref/Mango.Web.dll
/Mango.Web/obj/Debug/net6.0/refint/Mango.Web.dll
/Mango.Web/obj/Debug/net6.0/scopedcss/bundle/Mango.Web.styles.css
/Mango.Web/obj/Debug/net6.0/scopedcss/projectbundle/Mango.Web.bundle.scp.css
/Mango.Web/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/Mango.Web/obj/Debug/net6.0/staticwebassets.build.json
/Mango.Web/obj/Debug/net6.0/staticwebassets.development.json
/Mango.Web/obj/Mango.Web.csproj.nuget.dgspec.json
/Mango.Web/obj/Mango.Web.csproj.nuget.g.props
/Mango.Web/obj/Mango.Web.csproj.nuget.g.targets
/Mango.Web/obj/project.assets.json
/Mango.Web/obj/project.nuget.cache
/Mango.Web/obj/staticwebassets.pack.sentinel
/.vs/MangoRestaurent/FileContentIndex/aa9a491f-8deb-4d09-8422-3e758a273a11.vsidx
/Mango.Services.Identity/obj/Mango.Services.Identity.csproj.nuget.dgspec.json
/Mango.Services.Identity/obj/Mango.Services.Identity.csproj.nuget.g.props
/Mango.Services.Identity/obj/Mango.Services.Identity.csproj.nuget.g.targets
/Mango.Services.Identity/obj/project.assets.json
/Mango.Services.Identity/obj/project.nuget.cache
/Mango.Services.Identity/obj/staticwebassets.pack.sentinel
/Mango.Web/obj/Mango.Web.csproj.nuget.dgspec.json
/Mango.Web/obj/Mango.Web.csproj.nuget.g.props
/Mango.Web/obj/Mango.Web.csproj.nuget.g.targets
/Mango.Web/obj/project.assets.json
/Mango.Web/obj/project.nuget.cache
/Mango.Web/obj/staticwebassets.pack.sentinel
/Mango.Services.Identity/obj/
/.vs/
/Mango.Services.Identity/obj/
/Mango.Services.Identity/obj/staticwebassets.pack.sentinel
/Mango.Services.Identity/obj/project.nuget.cache
/Mango.Services.Identity/obj/Mango.Services.Identity.csproj.nuget.dgspec.json
/Mango.Services.Identity/obj/project.assets.json
/Mango.Services.Identity/obj/project.nuget.cache
/Mango.Services.Identity/obj/staticwebassets.pack.sentinel
/Mango.Web/obj/Mango.Web.csproj.nuget.dgspec.json
/Mango.Services.ProductAPI/bin/
/Mango.Services.ProductAPI/obj/
/Mango.Web/obj/
/Mango.Web/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
/Mango.Web/bin/Debug/
/Mango.Services.Identity/obj/
